<h2 id="title">ember-input-trim</h2>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-3">
    <div class="input-test-wrapper">
    <div>Input Value: {{inputConfig.value}}</div>
             {{ember-input-trim
              id=(unique-name-helper
              model="seachFilter"
              name=inputConfig.searchPlaceHolder
              dbid=inputConfig.searchTarget)
              type="text"
              class="form-control"
              value=inputConfig.value
              placeholder=inputConfig.searchPlaceHolder
            }}

    </div>
  </div>
</div>

{{outlet}}
